{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "universal.css" %}">
    <title>Modeller, CaRL</title>
</head>

<header>
    <div>
    <h1> CaRL </h1>
    <h3> Model Specification </h3>
    </div>
    <a href="https://github.com/mkyl/CaRL-framework">ⓘ Help</a>
</header>
<main>
    <div>
<div class='subheading'> 
<h2> Model Input </h2>
<p style="color: green;"> ✅ 4 rules validated </p>
</div>
<table id="rule-container">
    <tr>
        <td class="rule-head">
            <input type="text" value="Prestige[A]"/>
        </td>
        <td>
            ⃪
        </td>
        <td>
            <input class="rule-body" type="text" value="Qualification[A] WHERE Person(A)"/>
        </td>
    </tr>
    <tr>
        <td class="rule-head">
            <input type="text" value="Quality[S]"/>
        </td>
        <td>
            ⃪
        </td>
        <td>
            <textarea style="resize: none;" 
            class="rule-body" type="text">Qualification[A], Prestige[A] WHERE Author(A, S)
            </textarea>
        </td>
    </tr>
    <tr>
        <td class="rule-head">
            <input type="text" value="Score[S]"/>
        </td>
        <td>
            ⃪
        </td>
        <td>
            <input class="rule-body" type="text" value="Prestige[A], WHERE Author(A,S)"/>
        </td>
    </tr>
    <tr>
        <td class="rule-head">
            <input type="text" value="Score[S]"/>
        </td>
        <td>
            ⃪
        </td>
        <td>
            <input class="rule-body" type="text" value="Quality[S] WHERE Submission(S)"/>
        </td>
    </tr>
    <tr>
        <td class="rule-head">
            <input type="text" value=""/>
        </td>
        <td>
            ⃪
        </td>
        <td>
            <input class="rule-body" type="text" value=""/>
        </td>
    </tr>
</table>
<form> 
<button style="float: right; margin-top: 0.25cm;"> Next </button>
</form>
</div></div>
<div>
    <div class="subheading">
<h2> Preview </h2>
<p style="color: grey;"> (+1 204 nodes not shown) </p>
</div>
<img style="width: 400px; border: grey 1px solid;" src="{% static "grounding.png" %}"/>
</div>
</main>
<hr/>

<footer>
    <p> CaRL Framework v0.0.1 — File bugs and view source code
        <a href="https://github.com/mkyl/CaRL-framework">here</a>.</p>
</footer>
</html>