{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "universal.css" %}">
    <title>Modeller, CaRL</title>
</head>

<header>
    <div>
    <h1> CaRL </h1>
    <h3> Model Specification </h3>
    </div>
    <a href="https://github.com/mkyl/CaRL-framework">ⓘ Help</a>
</header>
<main>
    <div>
<div class='subheading'>
<h2> Model Input </h2>
<p style="color: green;"> ✅ 4 rules validated </p>
</div>
<div name="textarea"
   rows="10" cols="50" contenteditable="true" style="padding: 3px; border: solid grey 1px; font-family:monospace; width: 30em;"> <span style="color: green">Prestige</span>[<span style="color:Chocolate">A</span>] <span style="color:Firebrick"> <- </span> <span style="color:green"> Qualification</span>[<span style="color:Chocolate">A</span>] <span style="color: Firebrick"> WHERE </span> <span style="color:green">Person</span>(<span style="color:Chocolate">A</span>) <br/>

<span style="color: green">Quality</span>[<span style="color: Chocolate">S</span>] <span style="color:Firebrick"> <- </span> <span style="color:green"> Qualification</span>[<span style="color:Chocolate">A</span>], <span style="color:green">Prestige</span>[<span style="color:Chocolate">A</span>] <span style="color: Firebrick"> WHERE </span> <span style="color:green">Author</span>(<span style="color:Chocolate">A</span>, <span style="color:Chocolate">S</span>) <br/>
<span style="color:green">Score</span>[<span style="color:Chocolate">S</span>] <span style="color:Firebrick"><-</span> <span style="color:green">Prestige</span>[<span style="color:Chocolate">A</span>], <span style="color: Firebrick"> WHERE </span> <span style="color:green">Author</span>(<span style="color:Chocolate">A</span>,<span style="color:Chocolate">S</span>) <br/>
<span style="color:green">Score</span>[<span style="color:Chocolate">S</span>] <span style="color:Firebrick"><-</span> <span style="color:green">Quality</span>[<span style="color:Chocolate">S</span>] <span style="color: Firebrick"> WHERE </span> <span style="color:green">Submission</span>(<span style="color:Chocolate">S</span>) <br/> <br/> <br/>
</div>
<form>
<button style="float: right; margin-top: 0.25cm;"> Next </button>
</form>
</div></div>
<div>
    <div class="subheading">
<h2> Preview </h2>
<p style="color: grey;"> (+1 204 nodes not shown) </p>
</div>
<img style="width: 400px; border: grey 1px solid;" src="{% static "grounding.png" %}"/>
</div>
</main>
<hr/>

<footer>
    <p> CaRL Framework v0.0.1 — File bugs and view source code
        <a href="https://github.com/mkyl/CaRL-framework">here</a>.</p>
</footer>
</html>