{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "universal.css" %}">
    <title>Modeller, CaRL</title>
</head>

<header>
    <div>
    <h1> CaRL </h1>
    <h3> Query Evaluation </h3>
    </div>
    <a href="https://github.com/mkyl/CaRL-framework">ⓘ Help</a>
</header>

<main>
    <div>
        <div class="subheading">
            <h3>Queries</h3>
            <p style="color: gray"> (2 queries executed in 2 minutes 30 seconds) </p>
        </div>
        <table>
            <tr><td>1.</td><td><textarea style="font-size: larger; width: 30em; height: 3em;">AVG_Bill[H] <- Admitted_to_Large[P]?</textarea>
            </td></tr>
            <tr><td> </td> <td> <img src="{% static "Figure_1.png" %}" style="width: 30em;"/> </td></tr>
            <tr><td>2.</td><td>        <textarea style="font-size: larger; width: 30em; height: 9em;">SELECT HOSP_BEDSIZE as "hospital size", COUNT(*) as "n", AVG(TOTCHG) FROM hospitals as h, admissions as a, severity as s
WHERE h.HOSPID = a.HOSPID AND s.key = a.key AND TOTCHG >0 AND HOSP_BEDSIZE >= 1
GROUP BY HOSP_BEDSIZE HAVING COUNT(*) > 10;</textarea>
            </td></tr>
            <tr><td> </td> <td> <img src="{% static "Figure_2.png" %}" style="width: 30em;"/> </td></tr>
    </table>
    <button style='float: right; margin-top: 0.25cm;'>Add Query</button>
    </div>
    <!--
    <div>
        <div class="subheading">
        <h3>Results</h3>
        <p style="color: gray"> (3 queries executed in 23 seconds) </p>
    </div>
    <h4> Causal Query 1 </h4>

        <h4> Causal Query 2</h4>
        <img src="{% static "query 2.png" %}" style="width: 25em;"/>
        <h4> SQL Passthrough Query 3</h4>
        <img src="{% static "query 3.png" %}" style="width: 25em;"/>
    </div>
      -->
</main>

<hr/>
<footer>
    <p> CaRL Framework v0.0.1 — File bugs and view source code
        <a href="https://github.com/mkyl/CaRL-framework">here</a>.</p>
</footer>
</html>
