{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "universal.css" %}">
    <title>Modeller, CaRL</title>
</head>

<header>
    <div>
    <h1> CaRL </h1>
    <h3> Query Evaluation </h3>
    </div>
    <a href="https://github.com/mkyl/CaRL-framework">ⓘ Help</a>
</header>

<hr/>
<footer>
    <p> CaRL Framework v0.0.1 — File bugs and view source code
        <a href="https://github.com/mkyl/CaRL-framework">here</a>.</p>
</footer>
</html>
